# Visual Studio ve .NET Core için standart .gitignore
# Gizli dosyaları ve derleme artıklarını filtreler.

## VisualStudio
*.sln.docstates
*.suo
*.user
*.config
*.vssscc
*.vspscc
*_i.c
*_p.c
*.ncb
*.vcprojsave
*.vshost.exe
*.vshost.exe.manifest
*.vssettings
*.ReSharper
*.layout
*.tss

## .NET Core
**/[Bb]in/
**/[Oo]bj/
**/Properties/launchSettings.json

# Geliştirme ortamına özel ayar dosyası
appsettings.Development.json

# Veritabanı bağlantı dizisi gibi gizli bilgileri içerebilecek
# ana ayar dosyasını GİT'e GÖNDERMEMEK İYİ BİR PRATİKTİR.
# Eğer bu dosyayı göndermek zorundaysanız, içindeki ConnectionString'i
# "sifremi_buraya_yazacagim" gibi bir metinle değiştirin.
# appsettings.json 

# Kullanıcı Gizli Dosyaları
secrets.json

## Misc
*.orig
*.log
*.DS_Store