@using PortfolioTask1.Models.Entities
@model Genel

<section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter img" id="section-counter">
    <div class="container">
        <div class="row d-md-flex align-items-center">
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text">
                        <strong class="number" data-number="@Model.OdulSayisi">0</strong>
                        <span>Ödül Sayım</span>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text">
                        <strong class="number" data-number="@Model.BitenProjeSayisi">0</strong>
                        <span>Tamamladığım Proje Sayısı</span>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text">
                        <strong class="number" data-number="@Model.MutluMusteriSayisi">0</strong>
                        <span>Memnun Müşteri</span>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18">
                    <div class="text">
                        <strong class="number" data-number="@Model.KahveSayisi">0</strong>
                        <span>Bardak Kahve</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>